.main-section-container {
  background: url("https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-1.jpg");
  background-size: 100% 100%;
  padding: 160px 0;
}
.section-container {
  width: 87%;
  margin: 0 auto;
}

.firstSection-box {
  padding: 0px 20px 30px 20px;
}

.apzosial-div {
  padding: 140px 0 0 0;
}

.section-H3 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0 20px 10px 20px;
  color: #ffffff;
}

.section-P1 {
  margin: 0;
  font-size: 21px;
  font-weight: 500;
  padding: 0 20px 40px 20px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}

.section-img-P {
  margin: 0;
  /* padding: 0 20px 30px 20px; */
}

.section-img-P img {
  margin: 5px 20px 20px 0;
}