.main-features-section {
    background: url(https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-3-1.jpg);
    background-size: auto 100%;
    background-position-x: 50%;
    padding: 30px 0;
  }
  
  .features-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .features-img {
    padding: 0 20px 30px 20px;
  }
  
  .features-col-7 {
    padding-top: 90px;
  }
  
  .features-H3 {
    font-size: 38px;
    color: #353535;
    margin: 0;
    font-weight: 600;
  }
  
  .features-second-H3 {
    font-size: 23px;
    color: #353535;
  }
  
  .features-H3-div {
    padding: 0 20px 50px;
  }
  
  .features-P {
    margin-bottom: 20px;
    font-size: 17px;
    color: #5E5E5E;
  }
  