.main-updated-section {
  padding: 50px 0 0;
}

.updated-H3-div {
  padding: 0 20px 40px;
}

.updatet-H3 {
  font-size: 38px;
  color: #353535;
  margin: 0;
  font-weight: 700;
}

.updated-P {
  color: #9d9d9d;
  font-size: 17px;
  margin: 0;
}